<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1024645677413-7trd51itcnmr91gs5o4trl6tpg3aiad7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1024645677413-7trd51itcnmr91gs5o4trl6tpg3aiad7</string>
	<key>API_KEY</key>
	<string>AIzaSyDeGsoKKUVP7Y-kzb2CLfdj31wEFlHBs-8</string>
	<key>GCM_SENDER_ID</key>
	<string>1024645677413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MindSelf</string>
	<key>PROJECT_ID</key>
	<string>mindself-fc895</string>
	<key>STORAGE_BUCKET</key>
	<string>mindself-fc895.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024645677413:ios:71fa1c736c94be9b6b218c</string>
	<key>DATABASE_URL</key>
	<string>https://mindself-fc895.firebaseio.com</string>
</dict>
</plist>